/* Welcome Page
-------------------------------------------------*/

.welcome__wrapper {
    -fx-font-family: "Heebo";
    -fx-padding: 80px;
    -fx-background-image: url("images/fresh-orange-juice-dark.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.welcome__container {

}

.welcome__logo {
    -fx-fill: #FF2366;
    -fx-font-family: "Righteous";
    -fx-font-size: 3em;
}

.welcome__heading, .welcome__description, .welcome__footer {
    -fx-font-family: "Heebo";
    -fx-fill: #ffffff;
    -fx-font-weight: 300;
    -fx-font-size: 1.2em;
}

.welcome__heading {
    -fx-font-size: 4em;
}

.welcome__button {
    -fx-graphic: url("images/user_icon.svg");
}

/* Register User Page
-------------------------------------------------*/

.pane__wrapper {
   /* -fx-background-color: #0E0F1A; */
    -fx-background-color: #362E58;
}

.nav {
    /* -fx-background-color: #161823; */
    -fx-background-color: #3F395F;

}

.nav__title {
    /*-fx-text-fill: #FFFFFF;*/
    -fx-text-fill: #FAFF6B;
    -fx-font-size: 1.3em;
    -fx-text-alignment: center;
}

.register__container {
    -fx-padding: 50px 0 0 0;
}

.register__expands  {
    -fx-alignment: top-center;
}

.register__expand {
    -fx-pref-width: 375px;
}

.register__options {
    -fx-alignment: top-center;
}

.options-horizontal {
    -fx-alignment: center;
}

.register__label {
    -fx-text-alignment: center;
}

.option__button {
    -fx-text-alignment: center;
    -fx-pref-width: 323px;
}